:root {
  /* Cores principais do app */
  --background: #404040; /* Cinza escuro */
  --foreground: #ffffff; /* Branco */
  --primary: #3c8d66; /* Verde */
  --primary-darker: #2d6a4c; /* Verde escuro */
  --secondary: #8f220e; /* Vermelho */
  --tertiary: #a36902; /* Ouro */
  
  /* Sombras */
  --shadow-main: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

/* Reset do CSS feito pelo Next.js */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-golos-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}